streamlit==1.31.1
pandas==2.2.1
numpy==1.26.4
yfinance==0.2.36
plotly==5.18.0
matplotlib==3.8.2
requests==2.31.0
python-dateutil==2.8.2

# Pour le modèle IA de sentiment (pipeline transformers)
transformers==4.36.2
torch==2.1.2
sentencepiece==0.1.99
scikit-learn==1.4.0

# Pour éviter les erreurs sur tokenizers
tokenizers==0.15.0

# Cache Streamlit
cachetools==5.3.3
